

.student table{
border: 1px solid#ccc;
border-collapse: collapse;
width: 300px;
margin-bottom: 10px;
}

.student table td,
.student table th {
  text-align: left;
  border:2px solid#91e31d;
  padding: 5px 10px;
}

.student table th {
  width: 100px;
  font-style: italic;
  color: rgb(9, 158, 226);
}
.student table td {
  width: 100px;
  font-weight: 100px;
  font-style: italic;
  color: rgba(241, 100, 6, 0.626);
}